@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

.font-coiny {
  font-family: var(--font-coiny);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {
  --color-primary: #531553;
  --color-secondary: #E4A63A;
  --color-third: #f5ede5;
  --color-dark: #1e1e1e;
  --color-gry: #f6f9f9;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
}