@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

.dark {
  --background: #121313;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@theme {

  --color-dark: #121313;

  --color-light: #ebebf4;
  --color-light-hover: #dedeea;

  --color-light-bg: #e7e7f1;
  --color-light-bg-hover: #dcdcea;

  --color-light-card: #fbfbfd;
  --color-light-card-hover: #f1f1f5;

  --color-gry: #f6f9f9;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: auto;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.leaflet-container {
  width: 100%;
  height: 100%;
}

.leaflet-tile,
.leaflet-marker-icon,
.leaflet-marker-shadow {
  max-width: none !important;
}

.google-dark-tiles {
  filter: invert(100%) hue-rotate(220deg) brightness(100%) contrast(85%) saturate(100%);
}

html,
body,
* {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
*::-webkit-scrollbar {
  width: 0 !important;
  height: 0 !important;
  display: none !important;
}